.about{
    min-height: clamp(46.875rem, 44.097rem + 13.89vw, 56.25rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    padding: clamp(1.25rem, -0.231rem + 7.41vw, 6.25rem);
    background: url(../img/about__bg.png) no-repeat right / contain, #efd0ca;
    

    &__block{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: flex-start;
        max-width: 400px;
    }

    &__title {
        font-family: Sacramento;
        font-size: clamp(2rem, 1.378rem + 2.84vw, 3.938rem);
        line-height: 1.2;
        font-weight: 400;
        color: #333333;
    }

    &__text {
        font-family: Montserrat;
        font-size: clamp(0.875rem, 0.735rem + 0.64vw, 1.313rem);
        line-height: 33px;
        font-weight: 500;
        letter-spacing: 0.025em;
        color: #333333;
        margin-bottom: 57px;
    }

    &__btn {
        width: 152px;
        height: 46px;
        background-color: #333333;
        border-radius: 23px;
        font-family: Montserrat;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.01em;
        color: #efd0ca;
    }

    &__pic {
        flex: 0 1 624px;
      }
      
    &__img {
        max-width: 100%;
        height: 100%;
    }
}